<% layout('layouts/boilerplate') %>

<div class="row m-2">
    <div class="col-md-6 mx-auto">
        <%- include('../partials/flash') %>
        <h1 class="display-6">Login Form</h1>
        <form action="/login" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button class="btn btn-success">Login</button>
            <p class="fw-light">Don't have an account? <a href="/register" class="btn btn-dark">Sign Up</a></p>
        </form>
    </div>
</div>

</body>
</html>