<% layout('layouts/boilerplate') %>
<%- include('./partials/navbar') %>

<div class="alert alert-danger" role="alert">
    <%=err%>
</div>
<!-- <div class="m-2">
    <a href="/products/new" class="btn btn-dark"> Back </a>
</div> -->